<% @doctors.first(10).each do |doctor| %>
  <div class="horizontal-card">
    <div class="horizontal-container">
      <div class="doc-availability">

        <%= image_tag doctor.photo, class: "horizontal-card-avatar", alt: "avatar" %>

        <br>
        <div class="availability">
          <p><%= doctor.status %></p>
        </div>
      </div>
      <div class="horizontal-card-text">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
      </div>
      <div id="name-field">
        <%= doctor.prefix %> <%= doctor.first_name %> <%= doctor.last_name %>
      </div>
      <div id="speciality">
        <p><%= doctor.specialty %></p>
      </div>
      <div id="cost-per-min">
        <p>$ <%= doctor.rate.round(2) %> per minute</p>
      </div>
      </div>
      <div class="class-buttons">
        <div class="btn btn-primary consult">
          <%= link_to "Visit Doctor's Profile", doctor_path(doctor), class: "profile" %>
        </div>
        <div class="btn btn-outline-primary favourites">
          <p>Save to Favourites</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
