<% @doctors.each do |doctor| %>
  <div class="horizontal-card">
    <div class="horizontal-container">
      <div class="doc-availability">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "horizontal-card-avatar", alt: "avatar" %>
        <br>
        <div class="availability">
          <p><%= doctor.status %></p>
        </div>
      </div>
      <div class="horizontal-card-text">
        <div>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
      </div>
      <br>
        <div id="name-field">
          <%= link_to "#{doctor.prefix} #{doctor.first_name} #{doctor.last_name}", doctor_path(doctor), class: "profile" %>
            <%# <h5><%= doctor.prefix <%= doctor.first_name <%= doctor.last_name </h5> %>
        </div>
        <div id="speciality">
          <p><%= doctor.specialty %></p>
        </div>
        <div id="cost-per-min">
          <p>$ <%= doctor.rate.round(2) %> per minute</p>
        </div>
      </div>
      <br>
      <div class="class-buttons">
        <div>
          <div class="btn btn-primary consult">
            <p>Start Consultation</p>
          </div>
          <div class="btn btn-outline-primary favourites">
            <p>Save to Favourites</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
