
<div class="sessions-container">

  <% @my_consultations.each do |consultation| %>
    <div class="sessions-card">

      <div class="session-pic">
        <%= image_tag consultation.doctor.photo, class: "avatar-large", alt: "avatar" %>
      </div>

      <div class="sessions-card-text">
        <p><%= consultation.doctor.prefix %> <%= consultation.doctor.first_name %> <%= consultation.doctor.last_name %></p>
        <p><%= consultation.start_time %></p>
        <p><%= consultation.end_time %></p>
        <p><%= consultation.total_price %></p>
        <p><%= consultation.id %></p>
      </div>

      <% unless consultation.review.nil? %>
        <div class="sessions-card-text">
          <%= consultation.review.content %>
          <%= consultation.review.professionalism_rating %>
          <%= consultation.review.speed_rating %>
          <%= consultation.review.clarity_rating %>
          <%= consultation.review.gentleness_rating %>
          <%= consultation.review.rating %>
        </div>
      <% end %>

      <div class="sessions-btns">
        <div class="btn btn-primary consult">
          <%= link_to "Contact the doctor", doctor_path(consultation.doctor), class: "btn-btn-primary", style: "color: white; text-decoration: none;" %>
        </div>
        <div class="btn btn-outline-primary favourites">
          <p>Save to Favourites</p>
        </div>
      </div>


    </div>
  <% end %>

</div>
