
<div class="sessions-container">

  <% @patient_consultations.each do |consultation| %>
    <div class="sessions-card">

      <div class="pic_and_info">
        <div class="session-pic">
          <%= image_tag consultation.doctor.photo, class: "avatar-large", alt: "avatar" %>
        </div>
        <br>
        <div class="sessions-card-text">
          Consultation with: <br>
          <h4><%= consultation.doctor.prefix %> <%= consultation.doctor.first_name %> <%= consultation.doctor.last_name %></h4>
          <br>
          Date: <%= consultation.start_time.strftime("%b %d, %Y") %> <br>
          Start time: <%= consultation.start_time.strftime("%H:%M") %> <br>
          End time: <%= consultation.end_time.strftime("%H:%M") %> <br>
          Total price: $ <%= consultation.total_price %> <br>
        </div>
      </div>

      <% unless consultation.review.nil? %>
        <div class="sessions-card-review">
        <h5>Your review :</h5>
        <br>
          <p>General rating: <%= consultation.review.rating.round(2) %><br><br>
          "<%= consultation.review.content %>"<br><br>
          Professionalism: <%= consultation.review.professionalism_rating.round(2) %><br>
          Speed: <%= consultation.review.speed_rating.round(2) %><br>
          Clarity: <%= consultation.review.clarity_rating.round(2) %><br>
          Gentleness: <%= consultation.review.gentleness_rating.round(2) %></p>
        </div>
      <% end %>

      <div class="sessions-btns">
        <div class="btn btn-primary">
          <%= link_to "Contact the doctor", doctor_path(consultation.doctor), class: "btn btn-primary", style: "color: white; text-decoration: none;" %>
        </div>
        <br>
        <div class="btn btn-outline-primary favourites">
          Save to Favourites
        </div>
      </div>


    </div>
  <% end %>

</div>
