<% @doctors.first(5).each do |doctor| %>
  <div class="vertical-card">
    <div id="top-banner">
      <div>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <div>
        <i class="fas fa-heart"></i>
      </div>
    </div>
    <div>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "vertical-card-avatar", alt: "avatar" %>
    </div>
    <div class="card-text">
      <div id="name-field">
        <h6><%= doctor.prefix %> <%= doctor.first_name %> <%= doctor.last_name %></h6>
      </div>
      <div id="speciality">
        <p><%= doctor.specialty %></p>
      </div>
    </div>
  </div>
<% end %>
