<% @doctors.offset(6).limit(6).each do |doctor| %>
  <div class="vertical-card">
    <div id="top-banner">
      <div>
        <%= "#{doctor.rating}" %>
        <i class="fas fa-star"></i>
      </div>
      <div class="doc-status">
       <% if doctor.status == "Offline" %>
          <div class="btn-status-offline v-card"><i class="fas fa-dot-circle"></i> </div>
        <% elsif doctor.status == "Available" %>
          <div class="btn-status-available v-card"><i class="fas fa-dot-circle"></i> </div>
        <% elsif doctor.status == "Busy" %>
          <div class="btn-status-busy v-card"><i class="fas fa-dot-circle"></i> </div>
        <% end %>
      </div>
      <div class="like-icon mx-2 <%= 'red' if current_user.favorited?(doctor) %>" data-id="<%= doctor.id %>">
        <%= link_to toggle_favorite_user_path(doctor), remote: true, method: :post do %>
        <i class="fas fa-heart"></i>
        <% end %>
    </div>
    <div id="vert-img">
      <%= image_tag doctor.photo, class: "vertical-card-avatar", alt: "avatar" %>
    </div>
    <div class="card-text">
      <div id="name-field">
         <%= link_to "#{doctor.prefix} #{doctor.first_name} #{doctor.last_name}", doctor_path(doctor), class: "profile2" %>
      </div>
      <div id="speciality" class="v-card">
        <p><%= doctor.specialty %></p>
      </div>
    </div>
  </div>
<% end %>
