<div class="fullsidebar">

    <div class="profilepicture">

        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar-large"%>
        <% else %>
         <%= cl_image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large"%>
        <% end %>
    </div>

    <%# <div>
      <h2>About Me</h2>
    </div> %>

    <div>
      <h2><%= "#{current_user.prefix} #{current_user.first_name} #{current_user.last_name}" %></h2>

      <% if current_user.role == 'Doctor' %>
        <p>Your current status is :</p>
        <% if current_user.status == "Offline" %>
          <div id="status">
              <%= link_to current_user.status, dashboard_available_path, method: :patch, class: 'btn btn-ghost' %>
          </div>
        <% elsif current_user.status == "Available" %>
          <div id="status">
              <%= link_to current_user.status, dashboard_off_path, method: :patch, class: 'btn btn-primary' %>
          </div>
          <br>
      <br>
        <% end %>
      <% end %>


      <p><%= "Date of Birth: #{current_user.date_of_birth}" %></p>
      <p><%= "Country: #{current_user.country}" %></p>
      <p><%= "Native Language: #{current_user.language}" %></p>
    </div>

      <% if current_user.role == 'Doctor' %>

        <p><%= "Rate per minute: #{current_user.rate}" %> USD</p>
<%# <%= "Currently logged as: #{current_user.role}" %>


      <% elsif current_user.role == 'Patient' %>
      <% end %>
      <br>
      <div id="edit-profile">
        <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn-ter' %>
      </div>

    <%# TOGGLE BUTTON  %>
        <%# <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="status_toggle">
          <label class="form-check-label" for="status_toggle">Are you available?</label>
        </div> %>

</div>
