<div class="complete-profile">
  <div class="main-title">
  <h1>Doctor's Profile Page</h1>
  </div>
  <div class="big-horizontal-card">
    <div class="big-horizontal-container">
      <%= image_tag @doctor.photo, class: "big-horizontal-card-avatar", alt: "avatar" %>

        <div class="horizontal-card-text">
          <div>
            <%= "#{@doctor.rating}" %>
            <i class="fas fa-star"></i>
          </div>
            <br>
            <div id="name-field">
                <h4> <%= "#{@doctor.prefix} ""#{@doctor.first_name} " "#{@doctor.last_name}" %></h4>
            </div>
            <div id="speciality">
                <p><strong>Specialty:</strong> <%= "#{@doctor.specialty} - " "#{@doctor.sub_specialty}" %></p>
                <%= image_tag "general-doctor.png", height: 50 %>
            </div>
        </div>
        <br>
        <div class="class-buttons">
          <% if @doctor.status == "Offline" %>
            <div class="btn-status-offline"><i class="fas fa-dot-circle"></i> <%=@doctor.status%></div>
            <% elsif @doctor.status == "Available" %>
            <div class="btn-status-available"><i class="fas fa-dot-circle"></i> <%=@doctor.status%></div>
            <% elsif @doctor.status == "Busy" %>
            <div class="btn-status-busy"><i class="fas fa-dot-circle"></i> <%=@doctor.status%></div>
          <% end %>
          <br>
          <div>
            <div>
              <%= link_to "Start Consultation", doctor_consultations_path(@doctor),method: :post, class: "btn btn-primary profile-btn" %>
            </div>
            <div class="btn btn-outline-primary favourites card">
              <p>Save to Favorites</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%#= -------------- End of big horizontal card ----------------  %>

  <div class="doc-basic-info">
      <div class="doc-basic-info-item">
         <p>Language:</p>
         <h4> <%= "#{@doctor.language}" %></h4>
      </div>

      <div class="doc-basic-info-item">
         <p>Country:</p>
         <h4> <%= "#{@doctor.country}" %></h4>
      </div>

      <div class="doc-basic-info-item">
          <p>Cost per Min:</p>
          <h4><%= "$ #{@doctor.rate.round(2)}"%></h4>
      </div>
  </div>
<br>
  <%#= -------------- End of doc basic info ----------------  %>
<div class="info-container">
  <div class="doc-intro">
      <div class="section-title">
        <h3>Introduction</h3>
      </div>

      <div class="introduction">
        <p> <%=" Dr. #{@doctor.first_name} #{@doctor.last_name}, is an unconventional, misanthropic medical genius who, despite his dependence on pain medication, leads a team of diagnosticians at the fictional Princeton-Plainsboro Teaching Hospital (PPTH) in New Jersey." %></p>
      </div>
  </div>

  <%#= -------------- End of doc intro ----------------  %>
 <div class="skill-diploma">
   <div class="doc-skills">
        <div class="section-title">
           <%= image_tag "icons-skills.png", height: 100 %>
           <br>
           <br>
           <h3>Skills</h3>
        </div>

        <div class="doc-skill-list">
            <div class="doc-skill-item">
              <p><%= @doctor.skills %></p>
            </div>

        </div>
   </div>

   <%#= -------------- End of doc skill ----------------  %>

    <div class="doc-diplomas">
       <div class="section-title">
          <%= image_tag "icons-diploma.png", height: 100 %>
          <br>
          <br>
          <h3>Diplomas</h3>
       </div>

      <div class="doc-diplo-list">
          <div class="doc-diplo-item">
            <p><%= @doctor.diplomas %></p>
          </div>

      </div>
    </div>
</div>

       <br><br><br>
       <div class="section-title">
          <h3>Doctor Rating Chart</h3>
       </div>
      <div class="graph-render">
            <%= render 'graph' %>
      </div>
<br>
    <%#= -------------- End of doc diplomas ----------------  %>
    <div class="doc-reviews">
       <div class="section-title">
          <h3>Reviews</h3>
       </div>

      <div class="doc-reviews-list">
          <div class="doc-review-item">
              <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
              <br><br>
              <i class="fas fa-star"></i>   <%= "#{rand(3.5..5.0).round(1)}" %>
              <br><br>
              <p><%= "Amazing doctor! Cured my herpes in no time! Now I'm back in the game baby! Thanks #{@doctor.last_name}" %></p>
          </div>

          <div class="doc-review-item">
              <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
              <br><br>
              <i class="fas fa-star"></i>   <%= "#{rand(3.5..5.0).round(1)}" %>
              <br><br>
              <p> <%= "Thank you Dr. #{@doctor.first_name} for curing my husband's impotency problem!" %> </p>
          </div>

          <div class="doc-review-item">
              <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
              <br><br>
              <i class="fas fa-star"></i>   <%= "#{rand(3.5..5.0).round(1)}" %>
              <br><br>
              <p> <%= "Dr. #{@doctor.last_name} you are a life saver! It goes beyond words what you did to my breast!" %> </p>
          </div>
      </div>
    </div>



    <%#= -------------- End of doc reviews ----------------  %>

    <div class="doc-cta-box">
      <div class="doc-cta-consultation">
        <div>
          <%= link_to "Start Consultation", doctor_consultations_path(@doctor),method: :post, class: "btn btn-primary profile-btn" %>
        </div>
      </div>


      <div class="doc-cta-save">
        <div class="btn btn-outline-primary favourites card">
          Save to Favorites
        </div>
      </div>
    </div>
  </div>

    <%#= -------------- End of doc cta box ----------------  %>
