<div class="complete-profile">
  <div class="big-horizontal-card">
    <div class="big-horizontal-container">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "big-horizontal-card-avatar", alt: "avatar" %>
        <div class="horizontal-card-text">
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <br>
            <div id="name-field">
                <h4> <%= "#{@doctor.prefix} ""#{@doctor.first_name} " "#{@doctor.last_name}" %></h4>
            </div>
            <div id="speciality">
                <p> Specialty: <%= "#{@doctor.specialty} - " "#{@doctor.sub_specialty}" %></p>
            </div>
        </div>
        <br>
        <div class="class-buttons">
          <div class="availability">
            <p><%=@doctor.status%></p>
          </div>
          <br>
          <div>
            <div>
              <%= link_to "Start Consultation", doctor_consultations_path(@doctor),method: :post, class: "btn btn-primary consult" %>
            </div>
            <div class="btn btn-outline-primary favourites">
              <p>Save to Favorites</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%#= -------------- End of big horizontal card ----------------  %>

  <div class="doc-basic-info">
      <div class="doc-basic-info-item">
         <h4>Language:</h4>
         <h2> <%= "#{@doctor.language}" %></h2>
      </div>

      <div class="doc-basic-info-item">
         <h4>Country:</h4>
         <h2> <%= "#{@doctor.country}" %></h2>
      </div>

      <div class="doc-basic-info-item">
          <h4>Cost per Min:</h4>
          <h2><%= "$ #{@doctor.rate.round(2)}"%></h2>
      </div>
  </div>

  <%#= -------------- End of doc basic info ----------------  %>

  <div class="doc-intro">
      <div class="section-title">
        <h2>Introduction</h2>
      </div>

      <div class="introduction">
        <p> <%=" Dr. #{@doctor.first_name} #{@doctor.last_name}, is an unconventional, misanthropic medical genius who, despite his dependence on pain medication, leads a team of diagnosticians at the fictional Princeton-Plainsboro Teaching Hospital (PPTH) in New Jersey." %></p>
      </div>
  </div>

  <%#= -------------- End of doc intro ----------------  %>

  <div class="doc-skills">
        <div class="section-title">
           <h2>Skills</h2>
        </div>

        <div class="doc-skill-list">
            <div class="doc-skill-item">
              <p><%= @doctor.skills %></p>
            </div>

        </div>
  </div>

  <%#= -------------- End of doc skill ----------------  %>

    <div class="doc-diplomas">
       <div class="section-title">
          <h2>Diplomas</h2>
       </div>

      <div class="doc-diplo-list">

          <div class="doc-diplo-item">
            <p><%= @doctor.diplomas %></p>
          </div>

      </div>
    </div>

    <%#= -------------- End of doc diplomas ----------------  %>

    <div class="doc-reviews">
       <div class="section-title">
          <h2>Reviews</h2>
       </div>

      <div class="doc-reviews-list">
          <div class="doc-review-item">
              <p><%= "Amazing doctor! Cured my herpes in no time! Now I'm back in the game baby! Thanks #{@doctor.last_name}" %></p>
          </div>

          <div class="doc-review-item">
              <p> <%= "Thank you Dr. #{@doctor.first_name} for curing my husband's impotency problem!" %> </p>
          </div>

          <div class="doc-review-item">
              <p> <%= "Dr. #{@doctor.last_name} you are a life saver! It goes beyond words what you did to my breast!" %> </p>
          </div>
      </div>
    </div>

    <%#= -------------- End of doc reviews ----------------  %>

    <div class="doc-cta-box">
      <div class="doc-cta-consultation">
        <div>
          <%= link_to "Start Consultation", doctor_consultations_path(@doctor),method: :post, class: "btn btn-primary consult" %>
        </div>
      </div>


      <div class="doc-cta-save">
        <div class="btn btn-outline-primary favourites">
          <p>Save to Favorites</p>
        </div>
      </div>
    </div>

    <%#= -------------- End of doc cta box ----------------  %>
