<h2>DOCTOR INFORMATION</h2>

<br>Doctor Full Name: <%= @consultation.doctor.prefix %> <%= @consultation.doctor.first_name %> <%= @consultation.doctor.last_name %>
<br>Doctor ID: <%= @consultation.doctor_id %>
<br>Email: <%= @consultation.doctor.email %>
<br>Country: <%= @consultation.doctor.country %>
<br>Specialty: <%= @consultation.doctor.specialty %> | <%= @consultation.doctor.sub_specialty %>
<br><br>
