<h2>PATIENT INFORMATION</h2>    
<br>Full Name: <%= @consultation.patient.prefix %> <%= @consultation.patient.first_name %> <%= @consultation.patient.last_name %>
<br>ID: <%= @consultation.patient_id %>
<br>Email: <%= @consultation.patient.email %>
<br>Country: <%= @consultation.patient.country %>
<br><br>
